<div class="card">
  <div class="card-block">
    <div class="row">

      <div class="col-md-1">
        <%= gravatar_for user %>
      </div>
      <div class="col-md-11">
        <p class="card-text">
          <li>
            <%= user.id  %>
          </li>
          <li>
            <%= user.email  %>
          </li>
          <li>
            <%= link_to "Add Friend", friendships_path(:friend_id => user.id), :method => :post %>
          </li>


        </p>
      </div>

    </div>
  </div>
</div>
